<div class="container d-lg-none text-center scrollmenu-wrapper">
  <div class="scrollmenu">
    <a href="/<%= user.profileId %>">My Profile</a>
    <a href="#news">Friends</a>
    <a href="#contact">Messenger</a>
    <a href="#contact">Messenger</a>
    <a href="#contact">Messenger</a>
    <a href="#contact">Messenger</a>
    <a href="#contact">Messenger</a>
  </div>
</div>
