.wrapper {
  border: 1px solid #e1dfdf;
  border-radius: 5px;
	padding: 15px;
	margin: 0 0 15px 15px;
}

.main-content {
  padding: 0;
}

.image-wrapper img {
  width: 250px;
}

.link-wrapper {
  margin-top: 10px;
}

.link-wrapper a {
  width: 100px;
}

.small-image img {
  border-radius: 50%;
  width: 50px;
}

.textarea {
	resize: none;
	background-color: #FFFFFF;
	border: none;
	width: 100%;
	overflow: hidden;
}

.textarea::placeholder {
	color: black;
}

.textarea:focus {
	outline: none;
}

.textarea:focus::placeholder {
	color: gray;
}

.select {
	background-color: #FFFFFF;
	border-color: #c2c2c2;
}
.select:focus {
	outline: #c2c2c2;
}

.post-header {
	margin-bottom: 10px;
}

.post-header .post-creator-container div {
	margin-right: 15px;
}