<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset your password | Rainbow</title>
    <link rel="stylesheet" href="/css/indexStyles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar-light bg-light shadow">
        <div class="container">
            <span class="navbar-brand mb-0 h1">Rainbow</span>
        </div>
    </nav>

    <div class="d-flex text-center justify-content-center h-75">
        <div class="formWrapper align-self-center">
            <form id="resetPasswordForm" action='/auth/forgot/<%= user.resetPasswordToken %>' method="POST">
                <div class="form-group">
                    <input id="resetPasswordNewPassword" class="form-control" type="password" name='password' placeholder='New password'>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small></small>
                </div>
                <div class="form-group">
                    <input id="resetPasswordNewPasswordRepeat" class="form-control" type="password" name='confirmPassword' placeholder='Repeat password'>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small></small>
                </div>
                <input class="btn btn-primary" type="submit" value="Reset password">
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/javascript/passwordResetJs.js"></script>
    <script src='https://kit.fontawesome.com/e307e9c374.js' crossorigin='anonymous'></script>
</body>
</html>



<!-- html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Reset your password | Rainbow
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        link(rel="stylesheet" href="/css/indexStyles.css")
    body
        
        nav.navbar-light.bg-light.shadow.sticky-top
            .container
                span.navbar-brand.mb-0.h1 Rainbow

        .d-flex.text-center.justify-content-center.h-75
            .formWrapper.align-self-center
                form#resetPasswordForm(action='/auth/forgot/' + user.resetPasswordToken method='post')
                    .form-group
                        input#resetPasswordNewPassword.form-control(type='password' name='password' placeholder='New password')
                        i.fas.fa-check-circle
                        i.fas.fa-exclamation-circle
                        small
                    .form-group
                        input#resetPasswordNewPasswordRepeat.form-control(type='password' name='confirmPassword' placeholder='Repeat password')
                        i.fas.fa-check-circle
                        i.fas.fa-exclamation-circle
                        small
                    input.btn.btn-primary(type='submit' value='Reset password')

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
        script(src="/javascript/passwordResetJs.js")
        script(src='https://kit.fontawesome.com/e307e9c374.js' crossorigin='anonymous') -->
        
