<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h3 Password Reset
        form(action=`/auth/forgot/${user.resetPasswordToken}`, method="post")
            input(type="password" name="password")
            input(type="password" name="confirmPassword")
            input(type="submit", value="Submit")