.card {
  border: 1px solid #e1dfdf;
  border-radius: 5px;
	padding: 15px;
	margin: 10px 0;
}

.name-container {
	font-size: 25px;
}

.name-container a {
	color: #6C757D;
	text-decoration: none;
	transition: .3s;
}

.name-container a:hover {
	color: #a8b2b8;
}

.bio-container {
	font-size: 17px;
	color: #979797;
}

.card hr {
	margin: 5px 0;
}

.image-container img {
	border-radius: 50px;
	width: 100px;
}

.buttons-container {
	margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .image-container img {
		width: 75px;
	}
	.name-container {
		font-size: 20px;
	}
	.bio-container {
		font-size: 13px;
	}
}