.sidebar {
  padding: 0 20px 0 0;
}

.sidebar .sidebar-item {
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
  padding: 3px 0px;
  transition: 0.3s;
}

.sidebar-friends {
	text-align: end;
	padding: 0 0 0 20px;
}

.sidebar-friends .sidebar-item {
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
  padding: 3px 0px;
  transition: 0.3s;
}

.sidebar-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar-item:hover {
  background: #eeeeee;
}

.sidebar-item a {
  display: block;
  height: 100%;

  text-decoration: none;
  color: #212529;
}

.sidebar-item span {
  margin: 0 3px;
}

li.active {
	background: #dcedfd;
}

li.active:hover {
	background: #dcedfd;
}