.sidebar {
  padding: 0 20px 0 0;
}

.sidebar .sidebar-item {
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
  padding: 3px 0px;
  transition: 0.3s;
}

.sidebar-friends {
	text-align: end;
	padding: 0 0 0 20px;
}

.sidebar-friends .sidebar-item {
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
  padding: 3px 0px;
  transition: 0.3s;
}

.sidebar-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar-item:hover {
  background: #eeeeee;
}

.sidebar-item a {
  display: block;
  height: 100%;

  text-decoration: none;
  color: #212529;
}

.sidebar-item span {
  margin: 0 3px;
}

li.active {
	background: #dcedfd;
}

li.active:hover {
	background: #dcedfd;
}

.counter {
	width: 25px;
	height: 25px;
	background-color: #81C1FD;
	border-radius: 50%;
}

.bottom-menu-wrapper {
	background-color: #ffffff60;
	padding: 10px 0;
}

.bottom-menu-wrapper .bottom-menu-item{
	color: black;
	text-decoration: none;
	margin: 0 30px;
}

.bottom-menu-wrapper .bottom-menu-item.active{
	color: #0884f8;
}