.form-collection {
  margin-bottom: 30px !important;
  position: relative !important;
}

.form-collection input:focus {
  outline: 0;
  border-color: #007bff;
  box-shadow: none;
}

.form-collection.success input, .success {
  border-color: #2ecc71;
}

.form-collection.error input, .error {
  border-color: #e74c3c;
}

.form-collection i {
  visibility: hidden;
  position: absolute;
}

.form-collection.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-collection.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-collection small {
  position: absolute;
  visibility: hidden;
}

.form-collection.error small {
  color: #e74c3c;
}

.form-collection.success small {
  color: #2ecc71;
}

.form-collection.success small {
  visibility: visible;
}

.form-collection.error small {
  visibility: visible;
}