/* Data validation */
.form-group {
  margin-bottom: 30px !important;
  position: relative !important;
}

.form-group input:focus {
  outline: 0;
  border-color: #007bff;
  box-shadow: none;
}

.form-group.success input {
  border-color: #2ecc71;
}

.form-group.error input {
  border-color: #e74c3c;
}

.form-group i {
  visibility: hidden;
  position: absolute;
}

.form-group.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-group.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-group small {
  position: absolute;
  visibility: hidden;
}

.form-group.error small, .error {
  color: #e74c3c;
}

.form-group.success small, .success {
  color: #2ecc71;
}

.form-group.success small {
  visibility: visible;
}

.form-group.error small {
  visibility: visible;
}
/* End of Data validation */
