::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (min-width: 400px) {
	.toast {
		margin: 0 0 10px 10px;
	}
}

.toast img {
	border-radius: 50%;
	width: 40px;
}