/* Data validation */
.form-group i {
  top: 49px;
  right: 13px;
}

.form-group small {
  top: 77px;
  left: 0;
}

#dateStatusText {
  color: #e74c3c;
}
/* End of Data validation */

/* ---------- PAGE CONTENT STYLES ---------- */
.col-md-10 {
  padding: 0;
}

.wrapper {
  padding: 15px;
  border: 1px solid #e1dfdf;
  border-radius: 7px;
  margin: 20px 0;
}

.content-header-container {
  padding: 15px;
}

.content-divider {
  margin: 8px 0;
}

.content-wrapper {
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
}

.content-wrapper:hover {
  background-color: #eeeded;
}
/* ---------- END OF PAGE CONTENT STYLES ---------- */

/* ---------- BIO FIELD ---------- */
textarea {
  resize: none;
}

.characters-left-container {
  position: absolute;
  margin: 5px 0;
}
/* ---------- END OF BIO FIELD ---------- */

/* ---------- CHANGE PASSWORD FIELD ---------- */

#changePasswordForm .form-group {
  margin-bottom: 20px !important;
}

/* ---------- END OF CHANGE PASSWORD FIELD ---------- */

/* ---------- UPLOAD PHOTO ---------- */

#upload-image {
  width: 200px;
  margin: 100px 0;
  user-select: none;
}

#upload-container label {
  font-weight: bold;
}

#upload-container label:hover {
  cursor: pointer;
  text-decoration: underline;
}

#upload-container div {
  position: relative;
  z-index: 10;
}

#upload-container input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

#upload-container {
  transition: 0.3s;
}

#upload-container.dragover {
  outline: 5px solid rgba(22, 177, 255, 0.8);
  outline-offset: -5px;
}

#displayPhotoForm .modal-dialog {
  max-width: 1000px;
}

#image-wrapper {
  max-width: 965px;
}

#image-uploaded {
  width: 100%;
}
/* ---------- END OF UPLOAD PHOTO ---------- */
