<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password | Rainbow</title>
    <link rel="icon" href="images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="/css/indexStyles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Navigation   -->
    <nav class="navbar-light bg-light shadow">
        <div class="container">
            <span class="navbar-brand mb-0 h1">Rainbow</span>
        </div>
    </nav>
    <!-- End of Navigation -->

    <!-- Reset Form -->
    <div class="d-flex text-center justify-content-center h-75">
        <div class="formWrapper align-self-center">
            <form id="resetPasswordForm" action='/auth/forgot/<%= user.resetPasswordToken %>' method="POST">
                <div class="form-group">
                    <input id="resetPasswordNewPassword" class="form-control" type="password" name='password' placeholder='New password'>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small></small>
                </div>
                <div class="form-group">
                    <input id="resetPasswordNewPasswordRepeat" class="form-control" type="password" name='confirmPassword' placeholder='Repeat password'>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small></small>
                </div>
                <input class="btn btn-primary" type="submit" value="Reset password">
            </form>
        </div>
    </div>
    <!-- End of Reset Form -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="module" src="/javascript/start-page/password-reset.js"></script>
    <script src='https://kit.fontawesome.com/e307e9c374.js' crossorigin='anonymous'></script>
</body>
</html>