<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reset password | Rainbow</title>
    <link rel="icon" href="images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="/css/start-page/start-page.css" />
    <link rel="stylesheet" href="/css/common/index.css" />
    <link rel="stylesheet" href="/css/common/data-validation.css" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>
    <!-- Navigation   -->
    <nav class="navbar navbar-light navbar-expand shadow mb-3">
      <div class="container">
        <span class="navbar-brand h1 mb-0">Rainbow</span>
      </div>
    </nav>

    <!-- End of Navigation -->

    <!-- Reset Form -->
    <div class="d-flex text-center justify-content-center h-75">
      <div class="formWrapper align-self-center">
        <form
          id="resetPasswordForm"
          action="/auth/forgot/<%= user.resetPasswordToken %>"
          method="POST"
        >
          <div class="form-group">
            <input
              id="resetPasswordNewPassword"
              class="form-control"
              type="password"
              name="password"
              placeholder="New password"
            />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small></small>
          </div>
          <div class="form-group">
            <input
              id="resetPasswordNewPasswordRepeat"
              class="form-control"
              type="password"
              name="confirmPassword"
              placeholder="Repeat password"
            />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small></small>
          </div>
          <input class="btn btn-primary" type="submit" value="Reset password" />
        </form>
      </div>
    </div>
    <!-- End of Reset Form -->

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script
      type="module"
      src="/javascript/start-page/password-reset.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/e307e9c374.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
